<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eden.superzol_edenmor" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_action"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.eden.superzol_edenmor.MainActivity" />
        </activity>
        <activity
            android:name=".SearchTabActivity"
            android:label="@string/app_name"
            android:clickable="true">
        </activity>
        <activity
            android:name=".SuperTabActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".ListTabActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".ChooseProductActivity"
            android:label="@string/app_name">
        </activity>
    </application>

</manifest>